@model MemeTuoi.Data.PaginatedList<MemeTuoi.Data.TheLoai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- top tiles -->
<h1>Giao diện Quản lí Thể loại</h1>
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Category</span>
        <div class="count">@ViewBag.TotalTheLoais</div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New<i class="fa fa-plus fa-lg"></i></a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TheLoaiIdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tên thể loại</a>
            </th>
            <th>
                Link ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoaiId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTheLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnhTheLoai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TheLoaiId"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.TheLoaiId"><i class="fa fa-database"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.TheLoaiId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
